body{
    background-color:gray;
}
container{
    width:1500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
header{
 width:500px;
 margin-top: 30px;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 border: 1px solid black;
}
#field{
    width:500px;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border: 1px solid black;
}
input[type=text]{
    width:448px;
    text-align:left;
}
button[type=submit]{
    width:45px;
}
.task{
    width:500px;
    min-height:25px;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border:1px solid black;
}
nav{
    display: flex;
    justify-content: center;
}
#menuNew{
    text-align: center;
    width:250px;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-left:1px solid black;
}
#menuCompleted{
    width: 250px;
    text-align: center;
    border-right:1px solid black;
    border-bottom:1px solid black;
}
#menuNew:hover{
    cursor:pointer;
}
#menuCompleted:hover{
    cursor:pointer;
}
#pendingTasks{
    width:1500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#completedTasks{
    width:1500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.hidden{
    display:none;
}
.active{
    background-color: green;
}
.number{
    display: none;
}